$main: #ff8900;
$mainLight: #fb9004;
$mainDark: #fb9204;
$blue: #1d9bf0;

$black: #000;
$white: #fff;

$gray: #f1f1f1;
$textColor: #685c4e;
$textColor2: #656565;

$mainFont: "Roboto", sans-serif;
$calibri: "Calibri";
